@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Mulish:wght@400;500;700&family=Playfair+Display:wght@800&family=Poppins:wght@400;600;800&display=swap');

html {
  /* 1rem=10px */
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', Courier, monospace;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #4a4a68;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #ffffff
}
@media (max-height:91.1rem){
    .body{
        max-height: 100%;
    }
}


.headline {
  width: 100%;  
  height: 4rem;
  text-align: center;
  color: #ffffff;
  background-color: #1f68d6;
  font-weight: 700;
  font-size: 3rem;
  padding-top: 2rem;
  justify-items: center;
}
@media (max-width:76.8rem) {
    .heading {
        /* box-sizing: border-box; */
        font-size: 1.2rem;
    }
}

section {
  margin: 0 15rem 0 15rem;
}
@media (max-width:76.8rem){
    section{
       margin: 1rem;
       font-size: 1.2rem;
    }
}
.top {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  line-height: 2.7rem;
  margin-top: 3.8rem;
  margin-bottom: 8.3rem;
}


hr {
  box-sizing: border-box;
  border: 1.5px solid #1F68D6;
}

.section-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  line-height: 2.7rem;
  margin-bottom: 6.6rem;
}
@media (max-width:76.8rem){
    .section-bottom img{
        margin-right: 0.4rem;
    }
}
@media (max-width:28rem){
  .section-bottom{
      font-size: 1rem;
  }
}

.table {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.table .row1 {
  background-color: #1f68d6;
  height: 5rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-content: center;
  color: #fbfcfe;
  font-weight: 700;
  font-size: 2.4rem;
}

.table .row1 :nth-child(1) {
  text-align: center;
}
.row2,
.row3 {
  box-sizing: border-box;
  height: 5rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  border-bottom: 0.3rem solid #d1d1d1;
  align-items: center;
}

.row2 :nth-child(1),
.row3 :nth-child(1) {
  text-align: center;
}
.row2 :nth-child(3),
.row3 :nth-child(3) {
  padding-left: 2.5rem;
}

.total {
  display: block;
  text-align: end;
  margin: 3rem 0;
  line-height: 4rem;
}

.total .figure {
  font-weight: 700;
  color: #4a4a68;
  font-size: 2.3rem;
  margin-left: 2rem;
}
@media (max-width:76.8rem){
    .total .figure{
        font-size: 1.3rem;
    }
}

.total .words {
  color: #000000;
  font-size: 1.8rem;
}
@media (max-width:76.8rem){
    
    .total .words {
        font-size: 1.3rem;
    }
}

.remit {
  margin: 5.2rem 0 9.2rem 0;
  color: #4a4a68;
  font-size: 2.1rem;
  line-height: 3.8rem;
}
@media (max-width:76.8rem){
    .remit {
        font-size: 1.3rem;
    }
}

.remit strong {
  font-weight: 700;
}